{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
        <link rel="stylesheet" href="extras.css">
        <link href="{% static 'baseball/styles.css' %}" rel="stylesheet">
        <title>Play Ball!</title>
    </head>
    <body>
        <header>
            <h1>Baseball Standings</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'baseball:index' %}">Home</a></li>
                    <li><a href="{% url 'baseball:logos' %}">Team Overview</a></li>
                </ul>
            </nav>
        </header>
        <div style="margin-left:auto;margin-right:auto">
            <table>
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Logo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in logos %}
                    <tr>
                        <td><a href="{% url 'baseball:oneteam' r.0 %}"> {{r.0}}</a></td>
                        <td>{{ r.1 }}</td>
                        <td><img src="{{ r.2 }}"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
    <footer>
        <p>
            Made by: Tuva Granøien <br> CSCE A490 <br> September 2022
        </p>
    </footer>
</html>