{% load static %}
<!DOCTYPE html>
<html lang="en-US">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
        <link href="{% static 'baseball/extras.css' %}" rel="stylesheet">
        <title>Assigment 3</title>
    </head>

    <body>
        <header>
            <h1><a href="{% url 'baseball:index' %}"> <img src="{% static 'baseball/mlb.png' %}"></a>Reliving the 1967 Season</h1>
            {% block navbar %}
            {% endblock %}
        </header>

        <main>
            {% block mainblock %}
            {% endblock %}
        </main>

        <footer>
            <p>Developed by Marc Brown as a sample solution to Assignment #3.</p>
        </footer>
    </body>
</html>