<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
        <title>Play Ball!</title>
        <header>
            <nav>
                <ul>
                    <li><a href="{% url 'baseball:index' %}">Home-Page</a></li>
                </ul>
            </nav>
        </header>
    </head>
    {% block content %}
    <body>
    </body>
    {% endblock %}

    <footer>
        <center>Credit to Talha Ali, all rights reserved 2022 Copyright, if you're reading this have a good day :)</center>
    </footer>
</html>