nav a.active {
    color: blue;
    border-color: blue
}

fieldset label {
    display:inline
}

body > header h1 {
    margin-top: 1.25rem;
}

body > header  {
    padding: 0.25rem;
}

header  img {
    vertical-align: middle;
    height: 150px;
} 

th {
    text-align: center;
    background-color: darkblue;
    color: white;
}

td.numeric {
    text-align: right;
}

.error {
    color: red;
}