:root {
  --accent: rgb(220, 20, 60);
}

table {
  display: inline-block;
  border-radius: 10px;
  border-collapse: collapse;
  border: 1px solid black;
  box-shadow: 10px 10px 50px rgba(78, 78, 78, 0.5);
}
th:hover {
  filter: var(--hover-brightness);
}
thead tr th {
  border-color: rgb(138, 16, 16);
  background-color: crimson;
  color: white;
  text-align: center;
  border-bottom: thick solid rgb(138, 16, 16);
}
tr td {
  text-align: center;
}

tr:nth-child(odd):hover {
  /* A workaround because the default simple.css hover is kind of buggy
     on every other table row (in my case, it's the odd rows).
   */
  background-color: rgba(75, 75, 75, 0.5);
}
tbody tr:hover {
  filter: var(--hover-brightness);
}
