{% extends "baseball/layout.html" %}

{% block mainblock %}

<p>Baseball is all about the standings.
    This website allows you to select a date during the 1967 season and view the standings on that date. </p>

<form action="{% url 'baseball:standings' %}" method="get">
    <label for="dateid">Date to view:</label>
    <input type="date" id="dateid" name="date"
        value="{{date|date:'Y-m-d' }}"
        min="{{openingDay|date:'Y-m-d'}}"
        max="{{closingDay|date:'Y-m-d'}}">
        <br>

    <fieldset>
        <legend>Select the League:</legend>
        <div>
            <input type="radio" id="al" name="league" value="AL" {% if league == "AL" %} checked {% endif %}>
            <label for="al">American League</label>
        </div>
        <div>
            <input type="radio" id="nl" name="league" value="NL" {% if league == "NL" %} checked {% endif %}>
            <label for="nl">National League</label>
        </div>
    </fieldset>

    <input type="submit" value="Show Me!">
</form>

{% endblock %}
