{% extends "baseball/layout.html" %}

{% block mainblock %}

{% if error %}
<p class="error"><strong>{{ error }}</strong></p>
<p><a href="{% url 'baseball:index' %}">Back home</a>
</p>

{% else %}

{% if final %}
<p>Below are the final {{ league }} standings. 
    (<a href="{% url 'baseball:standings' %}?league={{other}}&date={{date|date:'Y-m-d'}}">See the final {{ other}} standings</a>.)
</p>
{% else %}
<p>Below are the {{ league }} standings on {{ date }}. 
    (<a href="{% url 'baseball:standings' %}?league={{other}}&date={{date|date:'Y-m-d'}}">See the {{ other}} standings</a>.)
</p>
{% endif %}

<table style="width:fit-content;margin-left:auto;margin-right:auto">
    <thead>
        {% if final %}
        <tr><th colspan="6">Final Results</th></tr>
        {% endif %}
        <tr>
            <th colspan="2">Team</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>PCT</th>
            <th>GB</th>
        </tr>
    </thead>
    <tbody>
        {% for r in standings %}
        <tr>
            <td><img src="{{ r.logo_url}}" height="50" width="50"></td>
            <td>{{ r.name }}</td>
            <td class="numeric">{{ r.wins }}</td>
            <td class="numeric">{{ r.losses }}</td>
            <td class="numeric">{{ r.pct_str }}</td>
            <td class="numeric">{{ r.gb }}</td>
        </tr> {% endfor %}
    </tbody>
</table>

<form style="width:fit-content;margin-left:auto;margin-right:auto"
    action="{% url 'baseball:advance-date'%}">

    <input type="submit" name="advance_date" {% if date <= openingDay %} disabled {% endif %} value="Previous Day">
    {{date|date:'Y-m-d' }}
    <input type="submit" name="advance_date" {% if date >= closingDay %} disabled {% endif %} value="Next Day">
</form>

{% endif %}

{% endblock %}